{nae, "riak_search"}.
{description, "Full-text search engine based on Riak"}.
{homepage, "http://wiki.basho.com/Riak-Search.html"}.
{rebar_compatible, true}.
{license, "Apache License 2.0", "LICENSE"}.
{url, {git, "https://github.com/basho/riak_search.git", {branch, "master"}}}.
{applications, [lucene_parser, merge_index, qilr, riak_search, riak_search_core, riak_solr]}.
{code_paths, ["apps/lucene_parser/ebin","apps/merge_index/ebin","apps/qilr/ebin", "apps/riak_search/ebin", "apps/riak_search_core/ebin", "apps/riak_solr/ebin"]}.
{build_command, "make -C apps/qilr/java_src"}.
